@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Mohave:ital,wght@1,600&display=swap');

body{
    font-family: 'Alegreya', serif;
    background: #F4EEA9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

.container{
    max-width: 600px;  
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid black;
    background: #F0BB62;
    padding-bottom: 2rem;


    
}

.box1 h1{
    text-align: center;
    padding-top: 14rem;
}

.box1{
    background: url(./assets/default-avatar-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 210px;
    margin-left: 12rem;
    margin-top: 5rem;
}


.email{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #519259;
    color: #fff;
}

.email:hover{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #3a6940;
    color: #fff;
}

.pwd{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-right: 10rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #519259;
    color: #fff;
}

.pwd:hover{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #3a6940;
    color: #fff;
}



.btn{
    width: 10rem;
    height: 2.5rem;
    margin-left: 13.5rem;
    margin-top: 1.5rem;
    background: #315836;
    color: #fff;
}

.btn:hover{
    width: 10rem;
    height: 2.5rem;
    margin-left: 13.5rem;
    margin-top: 1.5rem;
    background: #519259;
    color: #fff;
}

.fgot{
    width: 15rem;
    height: 2.5rem;
    margin-left: 11rem;
    margin-top: 1.5rem;
    background: #315836;
    color: #fff;
}

.fgot:hover{
    width: 15rem;
    height: 2.5rem;
    margin-left: 11rem;
    margin-top: 1.5rem;
    background: #519259;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

form {
    max-width: 600px;  
    margin: 0 auto;
    margin-top: 1.5rem;
    border-top: 0px;
    
    
}

