@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Mohave:ital,wght@1,600&display=swap');

body{
    font-family: 'Alegreya', serif;
    background: #699da0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

.container{
    max-width: 600px; 
    margin: 0 auto;
    height: 700px;
    margin-top: 2rem;
    border: 2px solid black;
    background: #9D9D9D;
    padding-bottom: 2rem;


    
}

.box1 h1{
    text-align: center;
    padding-top: 14rem;
}

.box1{
    display: inline-block;
    background: url(./assets/user.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 210px;
    margin-left: 12rem;
    margin-top: 5rem;
}


.email{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #F8F0DF;
    color: black;
}

.email:hover{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #a8a397;
    color: black;
}

.pwd{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-right: 10rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #F8F0DF;
    color: black;
}

.pwd:hover{
    border: 2px solid black;
    text-align: center;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    background: #a8a397;
    color: black;
}



.btn{
    width: 10rem;
    height: 2.5rem;
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    margin-top: 1.5rem;
    background: #F8F0DF;
    color: black;
    border-radius: 1rem;
}

.btn:hover{
    width: 10rem;
    height: 2.5rem;
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    margin-top: 1.5rem;
    background:#ccbc9c;
    color: #fff;
    border-radius: 1rem;
}

.fgot{
    width: 15rem;
    height: 2.5rem;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 1.5rem;
    background: #D55252;
    color: #fff;
    border-radius: 1rem;
}

.fgot:hover{
    width: 15rem;
    height: 2.5rem;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 1.5rem;
    background: #b64545;
    color: #fff;
    border-radius: 1rem;
}

.division{
    border-top: 2px solid black;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
   
}

.division p {
    text-align: end;
    color: black;
    margin-top: 0.5rem;
}

.division a{
    color: #F8F0DF;
   
}

.division a:hover{
    color: #e6d4af;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #fff;
}

form {
    display: inline-block;
    max-width: 600px;  
    margin: 0 auto;
    margin-top: 1.5rem;
    border-top: 0px;
    
    
}

